.tile {
  float: left;
  width: 50px;
  height: 50px;
  background-color: green;
  border: 1px solid black;
  margin: 3px;
  border-radius: 5px;
}
.selected {
  background-color: red;
}
.playground {
  width: 500px;
}
.playground-tiles {
  border: 1px solid black;
  border-radius: 5px;
  width: 200px;
  height: 200px;
}
.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
