@import "variables.less";

.center {
    position:absolute;
    top:~"calc(50% - 87px)";
    left:~"calc(50% - 87px)";
}

.footer {
    position:absolute;
    text-align: center;
    bottom:10px;
    left:~"calc(50% - 40px)";
}

body {
    background-color: black;
    color: @fontColor;
}

button {
  margin:3px;
  width:170px;
  -webkit-border-radius: @borderRadius;
  -moz-border-radius: @borderRadius;
  border-color: #8a8a8a;
  border-radius: @borderRadius;
  font-family: @fontFamily;
  color: @fontColor;
  font-size: @fontSize;
  background: #8a8a8a;
  padding: 10px 10px 10px 10px;
  text-decoration: none;
}

button:hover {
  background: #666666;
  text-decoration: none;
}

@media only screen and (max-width: 750px) {
    .center {
        position:inherit;
        top:inherit;
        left:inherit;
    }

    .footer {
        display:none;
    }

    button {
        width:100%;
      }

}