<div class="playground">
    <div class="tiles-section">
        <div class="playground-tiles item">
            <tiles (onTileClicked)="onTileClicked($event)"></tiles> 
        </div>
    </div>
    <div class="panel-section">
        <div class="item panel">
            <h3><timer-component (onTimerExpired)="onTimerExpired($event)"></timer-component></h3> 
        </div>
        <div class="item panel">
            <h3><counter-component></counter-component></h3> 
        </div>
        <div>
            <div *ngIf="!gameInProgress" style="display:inherit"><button (click)='start()'>Start</button></div>
            <div *ngIf="gameInProgress" style="display:inherit"><button (click)='start()'>Restart</button>
        </div>
    </div>    
</div>




