<div class="playground">
    <div class="playground-tiles item">
        <tiles (onTileClicked)="onTileClicked($event)"></tiles> 
    </div>
    <div class="item panel">
        <h3><timer-component (onTimerExpired)="onTimerExpired($event)"></timer-component></h3> 
        <h3><counter-component></counter-component></h3> 
    </div>
    <div>
        <div *ngIf="!gameInProgress" style="display:inherit"><button (click)='start()'>Start</button></div>
        <div *ngIf="gameInProgress" style="display:inherit"><button (click)='start()'>Restart</button>
    </div>
</div>




