.playground {
    width: 600px;
}

.playground-tiles {
    border: 1px solid black;
    width: 200px;
    height: 200px;
    margin-left: 50%;
}

.section {
    padding-left: 100px;
    padding-right: 100px;
}